module {{ .ProjectModule }}

go 1.22

require (
  github.com/gin-gonic/gin v1.9.1
  github.com/gin-contrib/cors v1.7.6
  github.com/joho/godotenv v1.5.1
  github.com/google/uuid v1.6.0
  github.com/goccy/go-json v0.10.5
  github.com/ulule/limiter/v3 v3.11.2
	gorm.io/driver/postgres v1.6.0
	gorm.io/gorm v1.30.0
)
